*,
*::before,
*::after {
    margin: unset;
    padding: unset;
    color: inherit;
    box-sizing: border-box;
}
html {
    font-size: 16px;
    font-family: "Roboto";
    font-weight: 500;
    color: rgb(51, 51, 51);
}
body {
    width: calc(100% - 5px);
    min-height: 100vh;
    display: block;
    position: relative;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}
ul, ol {
    list-style: none;
}
a {
    text-decoration: unset;
}
input, button, textarea, select {
    padding: 0;
    margin: 0;
    text-align: start;
    background: unset;
    border: unset;
    font: inherit;
}

button,
button:active,
button:focus {
    outline: none;
}