{% extends 'base.html' %}

{% load static %}

{% block title %}
    Index
{% endblock title %}

{% block content %}
    <section class="user-panel mt50px">
        <div class="account mr50px">
            <img class="account__image small" src="{{ user.profile.photo.url }}" alt="Account image" />
            <p class="account__nickname ml5px">{{ user.first_name }} {{ user.last_name }}</p>
        </div>
        <div class="right-content">
            <button class="user-panel__item p10px">Add image</button>
            <a class="user-panel__item p10px" href="{% url 'accounts:settings' %}">Settings</a>
        </div>
    </section>
    <section class="image-detail mt50px">
        <div class="top-content">
            <img class="preview-image" src="img/1.jpg" alt="tag tag tag tag" />
        </div>
        <div class="bottom-content mt5px">
            <div class="image-detail-panel mb20px">
                <a class="account" href="cabinet.html">
                    <img class="account__image small" src="img/goose.jpg" alt="Account image" />
                    <p class="account__nickname ml5px">TestNick</p>
                </a>
                <div class="download-wrapper">
                    <button class="report mr15px">Report</button>
                    <button class="approve">Approve</button>
                    <button class="replace-image ml15px">Replace image</button>
                </div>
            </div>
            <div class="bottom-content">
                <div class="tags-panel">
                    <div class="tag mr5px">
                        <button class="delete-tag mr5px">-</button>
                        <button class="tag-name">tag</button>
                    </div>
                    <div class="tag mr5px">
                        <button class="delete-tag mr5px">-</button>
                        <button class="tag-name">tag</button>
                    </div>
                    <div class="tag mr5px">
                        <button class="delete-tag mr5px">-</button>
                        <button class="tag-name">tag</button>
                    </div>
                    <button class="add-tag ml5px">+</button>
                </div>
                <div class="colors-panel mt15px">
                    <span class="colors-span">Colors:</span>
                    <button class="color ml5px" style="background: #0064f9"></button>
                    <button class="color ml5px" style="background: cornflowerblue"></button>
                    <button class="color ml5px" style="background: darkkhaki"></button>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}