{% extends 'base.html' %}

{% block title %}
    Password reset
{% endblock title %}

{% block content %}
    <section class="auth">
        <div class="auth-form">
            <h3 class="auth-form__title">Enter new password</h3>
            <p class="auth-form__subtitle">Please enter your new password twice so we can verify you typed it in correctly.</p>
            <form method="post">
                {% csrf_token %}
                <div class="inputs auth-form__inputs">
                    <div class="inputs__item">
                        <span class="form__subtitle">New Password:</span>
                        {{ form.new_password1 }}
                    </div>
                    <div class="inputs__item">
                        <span class="form__subtitle">Confirm Password:</span>
                        {{ form.new_password2 }}
                    </div>
                    <input class="button" type="submit" value="Update Password">
                </div>
            </form>
        </div>
    </section>
{% endblock %}