{% extends 'base.html' %}

{% block title %}
    New Password
{% endblock title %}

{% block content %}
    <section class="auth">
        <div class="auth-form">
            <div class="auth-form__title">
                Password reset
            </div>
            <form method="post">
                {% csrf_token %}
                <div class="inputs auth-form__inputs">
                    <div class="inputs__item">
                        {{ form.email }}
                    </div>
                    <input class="button" type="submit" value="Send email">
                </div>
            </form>
        </div>
    </section>
{% endblock %}