{% extends 'base.html' %}

{% block title %}
    Password reset
{% endblock title %}

{% block content %}
    <section class="auth-section flex jc ac">
        <h1>Enter new password</h1>
        <h3 class="subtitle-message cg">Please enter your new password twice so we can verify you typed it in correctly.</h3>
        <div class="auth-form flex jc mt50px">
            <form method="post" class="auth-form flex jc">
                {% csrf_token %}
                <div class="auth-form__inputs flex jc">
                    {{ password_form.errors.password }}
                    <div class="sqr-input-container mt15px">
                        {{ password_form.password }}
                    </div>
                    {{ password_form.errors.password2 }}
                    <div class="sqr-input-container mt15px">
                        {{ password_form.password2 }}
                    </div>
                </div>
                <button class="button button--blue middle mt15px" type="submit">Update Password</button>
            </form>
        </div>
    </section>
{% endblock %}