{% extends 'base.html' %}

{% block title %}
    New Password
{% endblock title %}

{% block content %}
    <section class="auth-section flex jc ac mt50px">
        <h1>Password reset</h1>
        <h3 class="cg">{{ message }}</h3>
        <form method="post" class="auth-form flex jc">
            {% csrf_token %}
            <div class="auth-form__inputs flex jc mt25px">
                {{ email_form.errors.email }}
                <label class="sqr-input-container">
                    {{ email_form.email }}
                </label>
                <button class="button button--blue large mt15px" type="submit">Send email</button>
            </div>
        </form>
    </section>
{% endblock %}