{% extends 'base.html' %}

{% load static %}

{% block title %}
    Settings
{% endblock title %}

{% block content %}
{% if message %}
    <h1 class="cg mt50px">{{ message }}</h1>
{% else %}
    <form id="change-email" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input class="dn" type="text" name="change_email" value="1" />
    </form>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <section class="settings-section flex jc ac mt50px">
            <h1 class="mt15px">Edit Your Profile</h1>
            {% if user_form.errors %}
                {% for error in user_form.non_field_errors %}
                    <div class="alert">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
            <div class="account-avatar mt15px">
                <div class="top-content">
                    {{ profile_form.errors.photo }}
                </div>
                <div class="bottom-content mt5px">
                    {% if profile_form.instance.photo %}
                        <img class="avatar big input-image-preview mb20px" src="{{ profile_form.instance.photo.url }}" />
                    {% else %}
                        <img class="avatar big input-image-preview mb20px" src="{% static 'img/goose.jpg' %}" />
                    {% endif %}
                    <label class="custom-file-upload">
                        {% if profile_form.photo %}
                            {{ profile_form.photo }}
                        {% else %}
                            {% static 'img/goose.jpg' %}
                        {% endif %}
                        <span class="button button--blue middle ml15px p10px">Upload</span>
                    </label>
                </div>
            </div>
            <div class="bottom-content mt15px">
                <div class="email">
                    <div class="top-content">
                        <span class="settings__option-title">Email</span>
                    </div>
                    <div class="bottom-content disabled-field">
                        <div class="disabled-field__message flex je ac">
                            <button class="button button--gray small mr5px" form="change-email" type="submit">Change email</button>
                        </div>
                        <span class="blurred">{{ user.email }}</span>
                    </div>
                </div>
                <div class="first-name mt15px">
                    <div class="top-content">
                        <span class="settings__option-title">First name</span>
                        {{ user_form.errors.first_name }}
                    </div>
                    <div class="bottom-content sqr-input-container">
                        {{ user_form.first_name }}
                    </div>
                </div>
                <div class="last-name mt15px">
                    <div class="top-content">
                        <span class="settings__option-title">Last name</span>
                        {{ user_form.errors.last_name }}
                    </div>
                    <div class="bottom-content sqr-input-container">
                        {{ user_form.last_name }}
                    </div>
                </div>
            </div>
        </section>
        <section class="settings-password-section flex jc ac mt50px">
            <h1>Change Your Password</h1>
            <div class="center-content mt15px">
                <div class="old-password">
                    <div class="top-content">
                        <span class="settings__option-title">Old password</span>
                        {{ user_form.errors.old_password }}
                    </div>
                    <div class="bottom-content sqr-input-container">
                        {{ user_form.old_password }}
                    </div>
                </div>
                <div class="new-password mt5px">
                    <div class="top-content">
                        <span class="settings__option-title">New password <span class="characters-info">(6 characters minimum)</span></span>
                        {{ user_form.errors.new_password }}
                    </div>
                    <div class="bottom-content sqr-input-container">
                        {{ user_form.new_password }}
                    </div>
                </div>
            </div>
            <div class="settings-bottom-options mt25px">
                <button class="button button--blue middle" type="submit">Update Profile</button>
                <a class="exit-btn mt15px" href="{% url 'accounts:logout' %}">Exit</a>
            </div>
        </section>
    </form>
{% endif %}
{% endblock content %}
{% block js %}
    <script src="{% static 'js/view_uploaded_image.js' %}"></script>
{% endblock %}