{% extends 'base.html' %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static "css/auth.css" %}">
{% endblock css %}

{% block title %}
    Restore password Page
{% endblock title %}

{% block content %}
    <header class="main-header">
        <a class="logo-link" href="index.html">GodFon</a>
        <div class="header__account">
            <div class="header__prompt">Уже есть учетная запись?</div>
            <a class="button button--grey button--compact" href="authorise.html">Войти</a>
        </div>
    </header>
    <section class="auth">
        <div class="auth-form">
            <div class="auth-form__title">
                Изменить пароль
            </div>
            <form action="/" method="post">
                <div class="inputs auth-form__inputs">
                    <div class="inputs__item">
                        <input type="email" placeholder="Электронная почта">
                    </div>
                    <input class="button" type="submit" value="Отправить письмо для восстановления">
                </div>
            </form>
        </div>
    </section>
{% endblock content %}