{% load static %}


{% for image in images %}
    <div class="image-item flex jc ac m5px">
        {% if status %}
            {% if image.status != image.Status.APPROVED %}
                <span class="image-status moderation">On moderation</span>
            {% endif %}
        {% endif %}
        <a class="image-link" href="{{ image.get_absolute_url }}">
            <img class="image-preview" src="{{ image.preview_image.url }}" />
        </a>
        <section class="image__author-panel p10px">
            <a class="author__account-link" href="{% url 'accounts:account' image.author %}">
                {% if profile_form.photo %}
                    <img class="avatar" src="{{ image.author.profile.photo.url }}" alt="{{ image.author.profile.photo }}"/>
                {% else %}
                    <img class="avatar" src="{% static 'img/goose.jpg' %}" alt="Default goose"/>
                {% endif %}
                <span class="full-name ml5px">{{ image.author.first_name }} {{ image.author.last_name }}</span>
            </a>
        </section>
    </div>
{% endfor %}