{% load static %}


{% for image in images %}
    <div class="image-block mb20px">
        {% if status %}
            {% if image.status == image.Status.APPROVED %}
                <div class="image__status image__status--moderated">Approved</div>
            {% else %}
                <div class="image__status image__status--add">On moderation</div>
            {% endif %}
        {% endif %}
        <a class="image-link" href="{{ image.get_absolute_url }}">
            <div class="preview-image-small" style="background-image: url({{ image.preview_image.url }});"></div>
        </a>
        <div class="author-panel">
            <a class="image__account ml2per" href="{% url 'accounts:account' image.author %}">
                <div class="account__image small" style="background-image: url({{ image.author.profile.photo.url }});"></div>
                <span class="account__nickname">{{ image.author.first_name }} {{ image.author.last_name }}</span>
            </a>
        </div>
    </div>
{% endfor %}