{% load templatehelpers %}

<section class="pagination flex jc ac mt50px">
    {% if page.has_previous %}
        <button class="button button--gray middle">
            <a href="{% relative_url 1 'page' request.GET.urlencode %}">First</a>
            <span class="vertical-line ml50px mr50px"></span>
            <a href="{% relative_url page.previous_page_number 'page' request.GET.urlencode %}">Previous</a>
        </button>
    {% else %}
        <button class="button button--gray middle disabled">
            <span class="choices">Next</span>
            <span class="vertical-line ml50px mr50px"></span>
            <span class="choices">Last</span>
        </button>
    {% endif %}
    <div class="pagination__page">
        {{ page.number }} из {{ page.paginator.num_pages }}
    </div>
    {% if page.has_next %}
        <button class="button button--gray middle">
            <a href="{% relative_url page.next_page_number 'page' request.GET.urlencode %}">Next</a>
            <span class="vertical-line ml50px mr50px"></span>
            <a href="{% relative_url page.paginator.num_pages 'page' request.GET.urlencode %}">Last</a>
        </button>
    {% else %}
        <button class="button button--gray middle disabled">
            <span class="choices">Next</span>
            <span class="vertical-line ml50px mr50px"></span>
            <span class="choices">Last</span>
        </button>
    {% endif %}
</section>