{% extends 'base.html' %}

{% load static %}

{% block title %}
    Add image
{% endblock title %}

{% block content %}
    {% include 'header.html' %}
    <section class="add-images-section">
        {% include "messages.html" with messages=messages %}
        <form class="add-images__form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h1 class="add-images-title">Upload your photo</h1>
            {{ image_form.errors.image|escape }}
            <div class="card-images mt25px">
                <img class="card-image-back input-image-preview" src="" />
                <img class="card-image input-image-preview" src="" />
            </div>
            <label class="custom-file-upload mt25px">
                {{ image_form.image }}
                <span class="button button--blue middle p10px">Upload</span>
            </label>
            <div class="tags mt25px">
                <div>
                    <h1 class="add-images-title">.. then you need name</h1>
                </div>
                {{ image_form.errors.title }}
                <div class="image-title rounded-input-container mt5px">
                    {{ image_form.title }}
                </div>
                <div class="mt25px">
                    <h1 class="add-images-title">.. and tags</h1>
                </div>
                {{ image_form.errors.tags }}
                <div class="mt5px">
                    {{ image_form.tags }}
                </div>
            </div>
            <div class="mt15px g-recaptcha" data-sitekey="6Lecnb0aAAAAAHafnFtb-7NZUQj0GYOEmB8Fh6lS"></div>
            <button class="button button--blue middle mt15px" type="submit">Enter</button>
        </form>
    </section>
    {% include 'footer.html' %}
{% endblock content %}

{% block css %}
    {{ image_form.media.css }}
{% endblock %}
{% block js %}
    {{ image_form.media.js }}
    <script src="{% static 'js/modules/functions/view_uploaded_image.js' %}"></script>
    <script src="{% static 'js/pages/main/add_image.js' %}"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}