{% extends 'base.html' %}

{% load static %}

{% block title %}
    Add image
{% endblock title %}

{% block content %}
    <section class="add-images-section">
        <form class="add-images__form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h1 class="add-images-title">Upload your photo</h1>
            {{ image_form.errors.image|escape }}
            <div class="card-images mt25px">
                <img class="card-image-back input-image-preview" src="" />
                <img class="card-image input-image-preview" src="" />
            </div>
            <label class="custom-file-upload mt25px">
                {{ image_form.image }}
                <span class="button button--blue middle p10px">Upload</span>
            </label>
            <div class="tags mt25px">
                <div class="top-content">
                    <h1 class="add-images-title">.. then you need tags</h1>
                </div>
                {{ image_form.errors.tags }}
                <div class="bottom-content mt25px">
                    {{ image_form.tags }}
                </div>
            </div>
            <button class="button button--blue middle mt15px" type="submit">Enter</button>
        </form>
    </section>
{% endblock content %}

{% block js %}
    <script src="{% static 'js/view_uploaded_image.js' %}"></script>
    {{ image_form.media }}
{% endblock %}