{% extends 'base.html' %}

{% load static %}

{% block title %}
    Detail image
{% endblock title %}

{% block content %}
    {% if images_list %}
        {% include "image-templates.html" with number_of_columns=number_of_columns images_list=images_list %}
    {% endif %}
    {% if report_form.data %}
        <div class="report-wrapper modal-window" data-window=".report-wrapper">
            {% include 'messages.html' with messages=messages %}
        </div>
    {% else %}
        <div class="report-wrapper dn modal-window big" data-window=".report-wrapper" data-dont-close-if=".report-form">
            <h1 class="cw">Report</h1>
            <form class="report-form mt15px" method="post">
                {% csrf_token %}
                <h3 class="cg">Title</h3>
                {{ report_form.title }}
                <h3 class="cg mt15px">Description</h3>
                {{ report_form.body }}
                <button class="button middle button--blue mt15px" type="submit">Send</button>
            </form>
        </div>
    {% endif %}
    <div class="delete-image__modal-window modal-window--black dn modal-window" data-window=".delete-image__modal-window">
        <form class="delete-image__form" action="{% url 'main:delete_image' slug=image.slug %}" method="post">
            {% csrf_token %}
            <h1 class="cw">Are you sure you want to delete this item?</h1>
            <div class="flex jc mt25px">
                <button class="button middle button--blue mr10px delete-button" type="submit" name="delete">Yes</button>
                <button class="button middle button--white modal-window cw" data-window=".delete-image__modal-window" type="button">No</button>
            </div>
        </form>
    </div>
    {% if moderator or image.author == request.user %}
        <div class="detail-image flex">
            <div class="edit-image__collision-wrapper mr15px">
                <div class="edit-image__panel">
                    <div class="edit-tags__buttons">
                        <button type="submit" name="edit" class="edit-tags__option p10px" form="edit-tags" data-pk="{{ image.pk }}">Save changes</button>
                        <button name="delete" class="edit-tags__option p10px modal-window" data-window=".delete-image__modal-window">Delete image</button>
                    </div>
                </div>
            </div>
        <div class="flex fc w100per">
    {% endif %}
            {% include 'header.html' %}          
            <section class="image-detail {% if image.ratio > 1 %}desktop {% endif %}mt50px">
                <div class="flex jc">
                    <div class="image-detail__info panel mb20px">
                        <a class="account-info flex jc ac p06rem" href="{% url 'main:cabinet' image.author.username %}">
                            <img class="avatar" src="{{ image.author.profile.photo.url }}" alt="Account image"/>
                            <p class="full-name ml05rem">{{ image.author.first_name }} {{ image.author.last_name }}</p>
                        </a>
                        <div class="image-detail__actions-info flex">
                            <span class="cb mr5px">Downloads: </span>
                            <span id="downloads_{{ image.pk }}" class="cg downloads mr15px">{{ image.downloads }}</span>
                            <span class="cb mr5px">Rating: </span>
                            <span id="rating_{{ image.pk }}" class="cg rating mr5px">{{ image.rating }}</span>
                        </div>
                    </div>
                    <div class="image-detail__image mb20px">
                        <div class="prel">
                            <button class="top-image-options button rating-button" data-pk="{{ image.pk }}" data-counter="rating_{{ image.pk }}" data-data="1">
                                {% if request.user.is_authenticated %}
                                    {% if actor %}
                                    <svg class="upvote {% if actor.vote == 1 %}{% else %}vote-inactive{% endif %}" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 -28 512.00002 512">
                                        <path d="m471.382812 44.578125c-26.503906-28.746094-62.871093-44.578125-102.410156-44.578125-29.554687 0-56.621094 9.34375-80.449218 27.769531-12.023438 9.300781-22.917969 20.679688-32.523438 33.960938-9.601562-13.277344-20.5-24.660157-32.527344-33.960938-23.824218-18.425781-50.890625-27.769531-80.445312-27.769531-39.539063 0-75.910156 15.832031-102.414063 44.578125-26.1875 28.410156-40.613281 67.222656-40.613281 109.292969 0 43.300781 16.136719 82.9375 50.78125 124.742187 30.992188 37.394531 75.535156 75.355469 127.117188 119.3125 17.613281 15.011719 37.578124 32.027344 58.308593 50.152344 5.476563 4.796875 12.503907 7.4375 19.792969 7.4375 7.285156 0 14.316406-2.640625 19.785156-7.429687 20.730469-18.128907 40.707032-35.152344 58.328125-50.171876 51.574219-43.949218 96.117188-81.90625 127.109375-119.304687 34.644532-41.800781 50.777344-81.4375 50.777344-124.742187 0-42.066407-14.425781-80.878907-40.617188-109.289063zm0 0"></path>
                                    </svg>
                                    <svg class="default-vote {% if actor.vote == 0 %}{% else %}vote-inactive{% endif %}" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24">
                                        <path d="M16.5 3c-1.74 0-3.41.81-4.5 2.09C10.91 3.81 9.24 3 7.5 3 4.42 3 2 5.42 2 8.5c0 3.78 3.4 6.86 8.55 11.54L12 21.35l1.45-1.32C18.6 15.36 22 12.28 22 8.5 22 5.42 19.58 3 16.5 3zm-4.4 15.55l-.1.1-.1-.1C7.14 14.24 4 11.39 4 8.5 4 6.5 5.5 5 7.5 5c1.54 0 3.04.99 3.57 2.36h1.87C13.46 5.99 14.96 5 16.5 5c2 0 3.5 1.5 3.5 3.5 0 2.89-3.14 5.74-7.9 10.05z"></path>
                                    </svg>
                                    <svg class="downvote {% if actor.vote == -1 %}{% else %}vote-inactive{% endif %}" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 511.964 511.964" xml:space="preserve">
                                        <g transform="translate(1 1)">
                                            <g>
                                                <g>
                                                    <path d="M233.28,433.329l29.013-49.493c1.707-2.56,1.707-5.973,0-8.533l-28.16-47.787l28.16-48.64     c1.707-2.56,1.707-5.973,0-8.533l-28.16-47.787l28.16-48.64c1.707-2.56,1.707-5.12,0.853-7.68l-17.067-51.2     c-16.213-43.52-53.76-90.453-109.227-90.453c-37.547,0-72.533,17.92-104.107,53.76c-36.693,40.96-58.027,135.68,14.507,206.507     c33.28,32.427,183.467,196.267,185.173,197.973s3.413,2.56,5.973,2.56c1.707,0,2.56,0,2.56-0.853     c3.413-2.56,5.12-6.827,4.267-10.24L233.28,433.329z M216.213,434.182l2.56,9.387C174.4,394.929,84.8,297.649,59.2,272.902     c-64-63.147-46.08-146.773-13.653-183.467c28.16-31.573,58.88-47.787,91.307-47.787c46.933,0,79.36,40.96,93.013,78.507     l16.213,47.787l-28.16,49.493c-1.707,2.56-1.707,5.973,0,8.533l28.16,48.64l-28.16,48.64c-1.707,2.56-1.707,5.973,0,8.533     l27.307,46.933l-28.16,48.64C216.213,429.062,215.36,431.622,216.213,434.182z"></path>
                                                    <path d="M478.186,78.342c-29.867-34.987-66.56-53.76-104.107-53.76c-45.227,0-88.747,35.84-110.08,89.6     c-0.853,1.707-0.853,4.267,0,5.973l16.213,47.787l-28.16,49.493c-1.707,2.56-1.707,5.973,0,8.533l28.16,48.64l-28.16,48.64     c-1.707,2.56-1.707,5.973,0,8.533l28.16,47.787l-28.16,48.64c-0.853,1.707-1.707,4.267-0.853,6.827l13.653,44.373     c0.853,3.413,3.413,5.12,5.973,5.973c0,0,0.853,0,1.707,0c2.56,0,4.267-0.853,5.973-2.56S430.4,318.129,463.68,284.849     C534.506,214.022,514.026,120.155,478.186,78.342z M451.733,272.902c-28.16,28.16-140.8,149.333-175.787,186.88l-7.68-26.453     l28.16-49.493c1.707-2.56,1.707-5.973,0-8.533l-28.16-47.787l28.16-48.64c1.707-2.56,1.707-5.973,0-8.533l-28.16-47.787     l28.16-48.64c1.707-2.56,1.707-5.12,0.853-7.68l-16.213-47.787c18.773-46.933,55.467-76.8,93.013-76.8     c33.28,0,64,16.213,91.307,47.787C496.96,126.129,514.88,209.755,451.733,272.902z"></path>
                                                </g>
                                            </g>
                                        </g>
                                    </svg>
                                    {% else %}
                                        <svg class="upvote" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 -28 512.00002 512">
                                            <path d="m471.382812 44.578125c-26.503906-28.746094-62.871093-44.578125-102.410156-44.578125-29.554687 0-56.621094 9.34375-80.449218 27.769531-12.023438 9.300781-22.917969 20.679688-32.523438 33.960938-9.601562-13.277344-20.5-24.660157-32.527344-33.960938-23.824218-18.425781-50.890625-27.769531-80.445312-27.769531-39.539063 0-75.910156 15.832031-102.414063 44.578125-26.1875 28.410156-40.613281 67.222656-40.613281 109.292969 0 43.300781 16.136719 82.9375 50.78125 124.742187 30.992188 37.394531 75.535156 75.355469 127.117188 119.3125 17.613281 15.011719 37.578124 32.027344 58.308593 50.152344 5.476563 4.796875 12.503907 7.4375 19.792969 7.4375 7.285156 0 14.316406-2.640625 19.785156-7.429687 20.730469-18.128907 40.707032-35.152344 58.328125-50.171876 51.574219-43.949218 96.117188-81.90625 127.109375-119.304687 34.644532-41.800781 50.777344-81.4375 50.777344-124.742187 0-42.066407-14.425781-80.878907-40.617188-109.289063zm0 0"></path>
                                        </svg>
                                        <svg class="default-vote" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24">
                                            <path d="M16.5 3c-1.74 0-3.41.81-4.5 2.09C10.91 3.81 9.24 3 7.5 3 4.42 3 2 5.42 2 8.5c0 3.78 3.4 6.86 8.55 11.54L12 21.35l1.45-1.32C18.6 15.36 22 12.28 22 8.5 22 5.42 19.58 3 16.5 3zm-4.4 15.55l-.1.1-.1-.1C7.14 14.24 4 11.39 4 8.5 4 6.5 5.5 5 7.5 5c1.54 0 3.04.99 3.57 2.36h1.87C13.46 5.99 14.96 5 16.5 5c2 0 3.5 1.5 3.5 3.5 0 2.89-3.14 5.74-7.9 10.05z"></path>
                                        </svg>
                                        <svg class="downvote" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 511.964 511.964" xml:space="preserve">
                                            <g transform="translate(1 1)">
                                                <g>
                                                    <g>
                                                        <path d="M233.28,433.329l29.013-49.493c1.707-2.56,1.707-5.973,0-8.533l-28.16-47.787l28.16-48.64     c1.707-2.56,1.707-5.973,0-8.533l-28.16-47.787l28.16-48.64c1.707-2.56,1.707-5.12,0.853-7.68l-17.067-51.2     c-16.213-43.52-53.76-90.453-109.227-90.453c-37.547,0-72.533,17.92-104.107,53.76c-36.693,40.96-58.027,135.68,14.507,206.507     c33.28,32.427,183.467,196.267,185.173,197.973s3.413,2.56,5.973,2.56c1.707,0,2.56,0,2.56-0.853     c3.413-2.56,5.12-6.827,4.267-10.24L233.28,433.329z M216.213,434.182l2.56,9.387C174.4,394.929,84.8,297.649,59.2,272.902     c-64-63.147-46.08-146.773-13.653-183.467c28.16-31.573,58.88-47.787,91.307-47.787c46.933,0,79.36,40.96,93.013,78.507     l16.213,47.787l-28.16,49.493c-1.707,2.56-1.707,5.973,0,8.533l28.16,48.64l-28.16,48.64c-1.707,2.56-1.707,5.973,0,8.533     l27.307,46.933l-28.16,48.64C216.213,429.062,215.36,431.622,216.213,434.182z"></path>
                                                        <path d="M478.186,78.342c-29.867-34.987-66.56-53.76-104.107-53.76c-45.227,0-88.747,35.84-110.08,89.6     c-0.853,1.707-0.853,4.267,0,5.973l16.213,47.787l-28.16,49.493c-1.707,2.56-1.707,5.973,0,8.533l28.16,48.64l-28.16,48.64     c-1.707,2.56-1.707,5.973,0,8.533l28.16,47.787l-28.16,48.64c-0.853,1.707-1.707,4.267-0.853,6.827l13.653,44.373     c0.853,3.413,3.413,5.12,5.973,5.973c0,0,0.853,0,1.707,0c2.56,0,4.267-0.853,5.973-2.56S430.4,318.129,463.68,284.849     C534.506,214.022,514.026,120.155,478.186,78.342z M451.733,272.902c-28.16,28.16-140.8,149.333-175.787,186.88l-7.68-26.453     l28.16-49.493c1.707-2.56,1.707-5.973,0-8.533l-28.16-47.787l28.16-48.64c1.707-2.56,1.707-5.973,0-8.533l-28.16-47.787     l28.16-48.64c1.707-2.56,1.707-5.12,0.853-7.68l-16.213-47.787c18.773-46.933,55.467-76.8,93.013-76.8     c33.28,0,64,16.213,91.307,47.787C496.96,126.129,514.88,209.755,451.733,272.902z"></path>
                                                    </g>
                                                </g>
                                            </g>
                                        </svg>
                                    {% endif %}
                                {% else %}
                                    <svg class="default-vote modal-window disabled" data-window=".auth-first-window" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24">
                                        <path d="M16.5 3c-1.74 0-3.41.81-4.5 2.09C10.91 3.81 9.24 3 7.5 3 4.42 3 2 5.42 2 8.5c0 3.78 3.4 6.86 8.55 11.54L12 21.35l1.45-1.32C18.6 15.36 22 12.28 22 8.5 22 5.42 19.58 3 16.5 3zm-4.4 15.55l-.1.1-.1-.1C7.14 14.24 4 11.39 4 8.5 4 6.5 5.5 5 7.5 5c1.54 0 3.04.99 3.57 2.36h1.87C13.46 5.99 14.96 5 16.5 5c2 0 3.5 1.5 3.5 3.5 0 2.89-3.14 5.74-7.9 10.05z"></path>
                                    </svg>
                                {% endif %}
                            </button>
                        </div>
                        <div class="image-block">
                            <img title="{{ image.width }} x {{ image.height }}" src="{{ image }}">
                            <div class="image-information dn modal-window" data-window=".image-information" data-dont-close-if=".information-card">
                                <div class="information-card">
                                    <p class="cg">Photo information</p>
                                    <h1 class="image__title">{{ image.title }}</h1>
                                    <small class="cg">Uploaded at {{ image.created_at }}</small>
                                    <table class="mt25px">
                                        <tbody>
                                        <tr>
                                            <td class="pr10px">Size:</td>
                                            <td class="cg">{{ image.size }} MB</td>
                                        </tr>
                                        <tr>
                                            <td class="pr10px">Extension:</td>
                                            <td class="cg">{{ image.extension }}</td>
                                        </tr>
                                        <tr>
                                            <td class="pr10px">Resolution:</td>
                                            <td class="cg">{{ image.width }}px x {{ image.height }}px</td>
                                        </tr>
                                        <tr>
                                            <td class="pr10px">Aspect Ratio:</td>
                                            <td class="cg">{{ image.ratio }}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="flex jc bottom-image-options">
                            <button class="button button--white mr15px modal-window" data-window=".report-wrapper">Report</button>
                            {% with image.followers.all as followers %}
                            {% with followers.0 as follower %}
                            <a href="{{ image }}" download="{{ image.title }}.{{ image.extension }}" class="button button--blue middle download {% if follower.downloaded %}downloaded{% endif %}" data-pk="{{ image.pk }}" data-counter="downloads_{{ image.pk }}" data-data="1">Download</a>
                            {% endwith %}
                            {% endwith %}
                            <button class="button button--white ml15px modal-window" data-window=".image-information">Information</button>
                        </div>
                    </div>
                    <div class="image-detail__edit">
                        {% if moderator or image.author == request.user %}
                            <div class="edit-tags mt10px">
                                <form id="edit-tags" method="post" class="edit-tags__form">
                                    {% csrf_token %}
                                    <div class="tags">
                                        {{ form.errors.tags }}
                                        <div class="bottom-content mt5px">
                                            {{ form.tags }}
                                        </div>
                                    </div>
                                </form>
                            </div>
                        {% else %}
                            <div class="tags-panel flex js ac">
                                {% for tag in image.tags.all %}
                                    <div class="tag flex js ac mr5px">
                                        <a class="tag-name" href="#">{{ tag }}</a>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                        <div class="colors-panel flex js ac mt15px">
                            <span class="colors-span">Colors:</span>
                            {% for color in colors %}
                                <a class="color ml5px" href="{% url 'main:home' %}?q=%7B%22where%22%3A%20%7B%22colors__similar_color%22%3A%20%22{{ color.similar_color|urlencode }}%22%7D%7D" style="background: {{ color }}"></a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </section>
            {% if images_list %}
                <section class="images-section flex jc ac mt50px">
                    <h1 class="mb20px">SIMILAR IMAGES</h1>
                    <ul class="images-list flex js as">
                        <ul class="images-list flex js as mt15px"></ul>
                    </ul>
                </section>
            {% endif %}
            {% include 'footer.html' %}
    {% if moderator or image.author == request.user %}
            </div>
        </div>
    {% endif %}
{% endblock content %}

{% block css %}
    {{ form.media.css }}
{% endblock %}
{% block js %}
    <script src="{% static 'js/modules/classes/UserActions.js' %}"></script>
    <script src="{% static 'js/modules/classes/PatchHelper.js' %}"></script>
    <script src="{% static 'js/modules/classes/Pagination.js' %}"></script>
    <script src="{% static 'js/modules/classes/ImageView.js' %}"></script>
    <script src="{% static 'js/pages/main/detailed_image_view.js' %}"></script>
    {{ form.media.js }}
{% endblock %}
