{% extends 'base.html' %}

{% load static %}

{% block title %}
    Moderator Panel
{% endblock title %}

{% block content %}
    <section class="account-section flex jc ac mt50px">
        <div class="panel flex jc ac p10px">
            <div class="account-section__info flex jc ac pr10px">
                <img class="avatar" src="{{ user.profile.photo.url }}"/>
                <p class="account__nickname ml10px">{{ user.first_name }} {{ user.last_name }}</p>
            </div>
            <div class="account-section__options">
                <a class="p10px" href="{% url 'main:add_image' %}">Add image</a>
                <a class="p10px" href="{% url 'accounts:settings' %}">Settings</a>
                <a class="p10px" href="{% url 'main:moderator-panel' %}">Moderator panel</a>
            </div>
        </div>
    </section>
    {% include "messages.html" with messages=messages %}
    <section class="image-detail mt50px">
        <div class="flex jc">
            <div class="image-detail__info panel mb20px">
                <a class="account-info flex jc ac p06rem" href="{% url 'main:cabinet' image.author.username %}">
                    <img class="avatar" src="{{ image.author.profile.photo.url }}" alt="Account image"/>
                    <p class="full-name ml05rem">{{ image.author.first_name }} {{ image.author.last_name }}</p>
                </a>
                <span class="created-time p06rem">{{ image.created_at }}</span>
                {% if not image.author.is_staff %}
                    <form action="{% url 'accounts:delete_user' username=image.author.username %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ request.path }}">
                        <button type="submit" name="user-ban" class="button button--red small mr5px"
                                onclick="return confirm('Are you sure you want to ban this user?');">
                            Ban user
                        </button>
                    </form>
                {% endif %}
            </div>
            <div class="image-detail__image mb20px">
                <img src="{{ image }}">
            </div>
            <div class="image-detail__edit">
                <div class="edit-tags mt10px">
                    <form id="edit-tags" method="post" class="edit-tags__form">
                        {% csrf_token %}
                        <div class="tags">
                            {{ form.errors.tags }}
                            <div class="bottom-content mt5px">
                                {{ form.tags }}
                            </div>
                        </div>
                    </form>
                    <form id="delete-image" action="{% url 'main:delete_image' slug=image.slug %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ request.path }}">
                    </form>
                    <form id="end-work" action="{% url 'main:moderator-panel' %}" method="post">
                        {% csrf_token %}
                    </form>
                    <div class="edit-tags__buttons mt15px">
                        <button type="submit" name="edit" class="button button--blue small mr10px" form="edit-tags"
                                onclick="return confirm('Are you sure you want to approve this image?');">
                            Approve
                        </button>
                        <button type="submit" name="delete" class="button button--red small mr10px"
                                onclick="return confirm('Are you sure you want to delete this item?');"
                                form="delete-image">Delete image
                        </button>
                        <button type="submit" name="end-work" class="button button--green small" form="end-work">End
                            work
                        </button>
                    </div>
                </div>
                <div class="colors-panel flex js ac mt15px">
                    <span class="colors-span">Colors:</span>
                    {% for color in colors %}
                        <a class="color ml5px" href="{% url 'main:home' %}?color={{ color|urlencode }}"
                           style="background: {{ color }}"></a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
{% block js %}
    {{ form.media }}
{% endblock %}