{% extends 'base.html' %}

{% load static %}

{% block title %}
    Index
{% endblock title %}

{% block content %}
    <section class="settings mt50px">
        <div class="top-content mt15px">
            <h1 class="settings-title">Edit Your Profile</h1>
        </div>
        <div class="bottom-content mt15px">
            <div class="avatar">
                <div class="top-content">
                    <span class="settings__option-title">Avatar</span>
                </div>
                <div class="bottom-content mt5px">
                    <img class="account__image settings-page" src="{% static 'img/goose.jpg '%}" alt="Account image" />
                    <button class="choose-file ml15px">Choose file</button>
                </div>
            </div>
            <div class="email mt15px">
                <div class="top-content">
                    <span class="settings__option-title">Email</span>
                </div>
                <div class="bottom-content">
                    <input class="settings-input p10px" value="" />
                </div>
            </div>
        </div>
    </section>
    <section class="settings-password mt50px">
        <div class="top-content">
            <h1 class="settings-title">Change Your Password</h1>
        </div>
        <div class="center-content mt15px">
            <div class="old-password">
                <div class="top-content">
                    <span class="settings__option-title">Old password</span>
                </div>
                <div class="bottom-content">
                    <input class="settings-input p10px" value="" />
                </div>
            </div>
            <div class="new-password mt5px">
                <div class="top-content">
                    <span class="settings__option-title">New password <span class="characters-info">(6 characters minimum)</span></span>
                </div>
                <div class="bottom-content">
                    <input class="settings-input p10px" value="" />
                </div>
            </div>
        </div>
        <div class="bottom-content mt25px">
            <button class="change-password__done-btn">Update Profile</button>
            <button class="exit-btn mt15px">Exit</button>
        </div>
    </section>
{% endblock content %}