{% extends 'base.html' %}

{% load static %}

{% block title %}
    User agreements
{% endblock title %}

{% block content %}
    {% include 'header.html' %}
    <section class="user-agreements">
        <div class="flex ac">
            <h1>What is allowed?</h1>
            <p class="text-small cg user-agreements__disclaimer">We tried to keep the Goods Backgrounds License as simple as possible. Keep reading to find out more.</p>
            <ul class="user-agreements-list mt25px">
                <li class="mt15px">
                    <svg viewBox="0 0 30 30" class="svg-icon check mr15px">
                        <path id="iconCheck" d="M9 21.035l-9-8.638 2.791-2.87 6.156 5.874 12.21-12.436 2.843 2.817z"></path>
                    </svg>
                    <span class="text-light">All photos and videos on Goods Backgrounds are free to use.</span>
                </li>
                <li class="mt15px">
                    <svg viewBox="0 0 30 30" class="svg-icon check mr15px">
                        <path id="iconCheck" d="M9 21.035l-9-8.638 2.791-2.87 6.156 5.874 12.21-12.436 2.843 2.817z"></path>
                    </svg>
                    <span class="text-light">Attribution is not required. Giving credit to the photographer or Goods Backgrounds is not necessary but always appreciated.</span>
                </li>
                <li class="mt15px">
                    <svg viewBox="0 0 30 30" class="svg-icon check mr15px">
                        <path id="iconCheck" d="M9 21.035l-9-8.638 2.791-2.87 6.156 5.874 12.21-12.436 2.843 2.817z"></path>
                    </svg>
                    <span class="text-light">You can modify the photos and videos from Goods Backgrounds. Be creative and edit them as you like.</span>
                </li>
            </ul>
        </div>
    </section>
    {% include 'footer.html' %}
{% endblock content %}